@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .responsive-ellipse {
    border-radius: 80% 65% 65% 80% !important;
  }
}

:root {
  --background-color: #f5f5f5;
  --text-color: #1a1a1a;
  --border-color: #1a1a1a;
  --skill-tile-dm-bg: #a67575;
  --alternate-bg: #efefef;
}

[class="dark"] {
  --background-color: #1b221d;
  --text-color: #bdcbc2;
  --border-color: #bdcbc2;
  --skill-tile-dm-bg: #222b24;
  --alternate-bg: #1d231f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

.alternate-bg {
  background-color: var(--alternate-bg);
}

.circle-separator-bg {
  background-color: var(--text-color);
}

.btn-color {
  color: var(--background-color);
  background-color: var(--text-color);
}

.skill-tile-dm {
  background-color: var(--skill-tile-dm-bg);
}

.circle-separator-bg {
  background-color: var(--text-color);
}
