@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .responsive-ellipse {
    border-radius: 80% 65% 65% 80% !important;
  }
}

:root {
  --background-color: #ffffff;
  /* --text-color: #36453b;
  --border-color: #36453b; */
  --text-color: #171717;
  --border-color: #171717;
  --btn-color: #171717;
}

[class="dark"] {
  --background-color: #36453b;
  --text-color: #f5f9eb;
  --border-color: #f5f9eb;
  --btn-color: #36453b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

.circle-separator-bg {
  background-color: var(--text-color);
}

.btn-color {
  color: var(--btn-color);
}
